body{
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    border-top: 2px solid #dfdfdf;
    border-bottom: 2px solid #dfdfdf;
    margin-bottom: 30px;
}
.navbar-container{
    width: 100%;
    max-width: 992px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-container .logo img{
    max-width: 128px;
}
.menu-wrapper{
    display: flex;
    align-items: center;
}
.signup-btn, .login-btn{
    background: #0088cc;
    color: #fff;
    padding: 5px 15px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.login-btn i{
    margin-right: 5px;
}
.search-btn, .menu-toggler{
    color: #dfdfdf;
    padding: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;   
    font-size: 1.125rem;
}

.body-container{
    width: 100%;
    max-width: 992px;
    margin: auto; 
}

.filter-container{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.filter-links{
    display: flex;
    align-items: center;
    padding: 10px 0;
}
.filter-container select{
    margin-right: 10px;
    background: #fff;
    padding: 5px 15px;
    border: 2px solid #dfdfdf;
}

.filter-container .nav-link{
    padding: 5px 10px;
    margin: 0 5px;
    text-decoration: none;
    color: rgb(51, 50, 50);
}
.filter-container .nav-link:first-child{
    padding-left: 0;
    margin-left: 0;
}
.filter-container .nav-link.active{
    background: #e45735;
    color: #fff;
}

.results-container h3{
    font-size: .975rem;
    color: #a7a7a7;
    margin-bottom: 5px;
    font-weight: 400;
}

.results-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.results-box .column-1, .results-box .column-2{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    border-top: 1px solid #dfdfdf;
    width: 48%;
}

.result-item{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
    border-top: 1px solid #dfdfdf;
}
.result-item:last-child{
    border-bottom: 1px solid #dfdfdf;
}
 /* Border color of result item */
.result-item.green{
    border-left: 5px solid green;
}
.result-item.yellow{
    border-left: 5px solid yellow; 
}
.result-item.blue{
    border-left: 5px solid blue; 
}
.result-item.purple{
    border-left: 5px solid purple; 
}
.result-item.aqua{
    border-left: 5px solid aquamarine; 
}
.result-item.darkpurple{
    border-left: 5px solid rgb(80, 1, 80); 
}
.result-item.gray{
    border-left: 5px solid gray; 
}
.result-item.salmon{
    border-left: 5px solid salmon; 
}
.result-item.whiteblue{
    border-left: 5px solid rgb(100, 194, 248); 
}

.result-item .result-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
.result-item .result-header h2{
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}
.result-item .result-header h2 a{
    text-decoration: none;
    color: #3a3767;
}
.result-item .result-header .result-date{
    font-size: .875rem;
    color: #a7a7a7;
    text-decoration: none;
}
.result-item .result-description{
    padding: 5px 0;
}
.result-item .result-description p{
    margin: 0;
    color:rgb(95, 94, 94);
}
.result-item .result-description p a{
    text-decoration: none;
}
.result-item .links-wrapper{
    display: flex;
    flex-wrap: wrap;
}
.result-item .links-wrapper .link-category{
    text-decoration: none;
    color: rgb(51, 50, 50);
    margin-right: 10px;
}

.result-item .links-wrapper .link-category:before{
    content: '';
    width: 8px;
    height: 8px;
    margin-right: 3px;
    display: inline-block;
    background:rgb(245, 57, 57);
}
 /* Background color of categories */
.link-category.brown:before{
    background:brown !important;
}
.link-category.orange:before{
    background:orange !important;
}

.link-category.yellow:before{
    background:yellow !important;
}

.link-category.green:before{
    background:green !important;
}

.link-category.blue:before{
    background:blue !important;
}

.link-category.pink:before{
    background:pink !important;
}

.link-category.darkorange:before{
    background:darkorange !important;
}

.link-category.gray:before{
    background:gray !important;
}

.search-results-container{
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.search-results-container input{
    width: 60%;
    border: 3px solid rgb(42, 148, 247);
    padding: 20px;
    border-radius: 10px;
}

.footer-container{
    background:#222222;
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-wrapper{
    max-width: 992px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-wrapper .footer-description{
    width: 18%;
    padding-bottom: 20px;
}
.footer-wrapper .footer-description h4{
    margin: 0;
    margin-bottom: 10px;
}
.footer-wrapper .footer-description p{
    color: rgb(95, 94, 94);
    font-size: .825rem;
    font-weight: 600;
}
.footer-links{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    padding-bottom: 20px;
}
.footer-wrapper .footer-nav{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    width: 15.5%;
    margin: 0;
}
.footer-wrapper .footer-nav a{
    color: rgb(95, 94, 94);
    text-decoration: none;
    padding: 5px 0;
    font-size: .825rem;
    font-weight: 600;
}
.footer-wrapper .footer-nav .nav-title{
    font-weight: 600;
    margin-bottom: 10px;
}

.footer-wrapper .bottom-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    border-top: 1px solid rgb(95, 94, 94);
}

.footer-wrapper .bottom-footer .footer-nav{
    display: flex;
    flex-direction: row;
    width: auto;
}

.footer-wrapper .bottom-footer .footer-nav a{
   padding: 0 15px;
   padding-left: 0;
}

.footer-wrapper .bottom-footer .footer-social-nav{
    padding-left: 0;
    list-style: none;
    display: flex;
    margin: 0;
}

.footer-social-link{
    color: #fff;
    padding: 0 10px;
}

@media only screen and (max-width: 768px) {
    .results-container{
    padding: 0 10px;
    }
    .filter-container{
        padding: 0 10px;
    }
    .results-container h3{
        margin-top: 0;
        font-size: .9rem;
    }
    .results-box .column-1, .results-box .column-2{
        width: 100%;
        padding-bottom: 0;
    }
    .results-box .column-1 .result-item:last-child{
        border-bottom: none;
    }
    .results-box .column-2{
        padding-top: 0;
        border-top: none;
    }
    .header-container{
        padding: 0 10px;
        margin-bottom: 10px;
    }
    .signup-btn, .login-btn {
        padding: 5px 10px;
        font-size: .8rem;
    }
    .filter-container{
        margin-bottom: 10px;
    }
    .filter-container .nav-link{
        font-size: .8rem;
    }
    .footer-wrapper .footer-description{
        width: 100%;
    }
    .footer-wrapper .footer-links{
        width: 100%;
    }
  }

  @media only screen and (max-width: 576px) {
    .footer-wrapper .footer-links .footer-nav{
        width: 33%;
    }
  }

  @media only screen and (max-width: 400px) {
    .footer-wrapper .footer-links .footer-nav{
    width: 100%;
    }
  .navbar-container .logo img{
    max-width: 100px;
    }
    .footer-wrapper .bottom-footer .footer-nav a{
        font-size: .8rem;
    }
}